{% extends "base.html" %}
{% block content %}

<div class="mainContent">
  <h2>About Me</h2>

  <img class="aboutImage" src="static/AboutRav.jpg" alt="Me in Alnwick Gardens" />

  <p>
    My name is Raveena and I'm just your average 20 year old student studying PR in Leeds. I have a tendency to ramble on, and a mind filled with many random facts, thoughts and opinions; so why not start a blog to put them all in one place. I am a relatively creative person with a small passion for make up and photography along side a love for tv, cinema and music. I can't say that I've ever stepped foot in a gym but I have a special place in my heart for chocolate, a love for eating out and am very much a lover of Nando's. I wouldn't say I'm the most organised person in the world and there is no ignoring my status as a hard core procrastinator, however I am determined to try and post on here at least once a week, maybe even more.
  </p>

  <p>
    I have no clue what will become of this blog and which direction the content is likely to go in, all I can say is that it will most probably be fairly random although I'm sure common themes will eventually make themselves clear.
  </p>

  <p class="signature">
    Raveena x
  </p>
</div>
{% endblock %}
