{% extends "base.html" %}
{% block content %}

<a href="blog">
  <div class="leftHome">
    <h2>Recent Blog Post</h2>

    <p>
      Fun, Friends and Food
    </p>

    <p class="date">
      06/03/2018
    </p>

    <p>
      A big part of moving away for university is living making a new group of friends, and as much fun as they may be and despite the great memories that you may make, your friends from home will probably, in the words of Beyoncé, be irreplaceable; at least that’s what I’ve found. I consider myself very lucky to have a strong friendship group in which the six of us are very close and have kept in contact with each other despite us all being separated! And I’m even more lucky as one of them is actually in Leeds for Uni too although at Uni of Leeds instead of Leeds Beckett… controversial I know 😉.
    </p>

    <p>
      Following the rules of the majority wins, the other 4 all came up to Leeds last weekend as there are two of us here and it has made me realise how much I appreciate them. You may never...
    </p>

    <img class="homePhoto" src="static/manhatta.jpg" alt="Neon sign at Manhatta" />
  </div>
</a>

<a href="https://www.instagram.com/ohheyitsraveena/" target="_blank">
  <div class="rightHome">
    <h2>Socials</h2>

    <p class="notCenter">
      Instagram:
    </p>

    <div class="slideshow">
      <img class="slides" src="static/manhat.jpg" alt="Manhatta neon sign" />
      <img class="slides" src="static/tobog.jpg" alt="Snow tubing" />
    </div>

    <script src="static/slideshow.js"></script>
  </div>
</a>

<a href="favourites">
  <div class="rightHome">
    <h2>Recent Favourites</h2>

    <p>
      Chanel: Coco Mademoiselle Eau De Parfum - 02/03/2018
    </p>

    <p>
      I’m not a massive perfume person unlike many people my age but I do have a few...
    </p>

    <img class="homePhoto" src="static/chanel.png" alt="Bottle of Chanel Eau de Parfum" />
  </div>
</a>
{% endblock %}
